html {
	font-family: 'Roboto', sans-serif;
}

body {
	font-size: 13px;
	line-height: 20px;
}

.mainSearchBox {
  border-color: #cccccc;
  padding: 8px;
  font-size: 16px;
  border-width: 0px;
  border-radius: 5px;
  margin-top: 8px;
  width: 400px;
  margin-left: 100px;
}
.mainSearchBox:focus { outline:none; }

img.listingImg {
  width: 380px;
  border-radius: 2px;
  min-height: 200px;
}

ul.ListingContainer {
  list-style: none;
  margin-left: -30px;
}

li.listingOneContainer {
  width: 400px;
  text-align: left;
  margin: 10px;
  display: inline-block;
}
div#main {
  flex-direction: row;
  display: flex;
}

.SearchResult-Search {
  width: 65%;
}

img.homeImg {
  width: 100%;
}
a.mainTitle{
  text-decoration: 'none';
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.SearchResult-Map {
  width: 35%;
  height: 1000px;/
}

.Filter {
  width: 80%;
  margin: 20px;
}

.priceTag {
  position: relative;
  margin-top: -50px;
  margin-bottom: 50px;
  background-color: black;
  width: 100px;
  color: white;
  font-size: 20px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  /* opacity: 0.6; */
  opacity: 0.8;
  /* z-index: 20; */
  /* float: left; */
}